<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="src/autoload.php">
    <testsuites>
        <testsuite name="ThingsDB">
            <file>./tests/ThingsDBTest.php</file>
            <file>./tests/ListeningTest.php</file>
            <file>./tests/ErrorsTest.php</file>
        </testsuite>
        <testsuite name="Secure">
            <file>./tests/SecureTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="THINGSDB_URI" value="127.0.0.1:9200" />
        <env name="THINGSDB_USERNAME" value="admin" />
        <env name="THINGSDB_PASSWORD" value="pass" />
    </php>
</phpunit>
